.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard header p {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  text-align: justify;
  margin: 1rem 0;
}

.dashboard main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dashboard main > * {
  flex: 1;
  width: min-content;
}

.dashboard main .calendar .react-calendar {
  border-radius: 5px;
}

.dashboard main .calendar .react-calendar .react-calendar__navigation {
  justify-content: center;
  overflow-x: hidden;
  margin-bottom: 0.5em;
}
